body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

div.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.MainContainer button{
    margin-top: 10px;
    padding: 10px 20px
}

h2{
    text-align: center;
}

input{
    width: 250px;
    text-align: center;
}

