body{
    background-color: lightgray;
}

div.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.MainContainer button{
    padding: 10px 20px
}

